.lmc-memory {
  width: 100%;
  font-family: 'Fira Code', monospace;
}

.lmc-memory-row-cell {
  border: 1px solid transparent;
  font-size: .75em;
  text-align: center;
}

.lmc-memory-row-cell.-pc {
  border-color: #ff4136;
}
