.lmc-registers {
  padding-left: 0;
}

.lmc-registers-reg {
  list-style: none;

  display: flex;
  line-height: 1.5em;
}

.lmc-registers-reg-label {
  flex: 1;
  font-weight: bold;
}


.lmc-registers-reg.-pc > .lmc-registers-reg-label {
  color: #ff4136;
}

.lmc-registers-reg-value {
  flex: 3;
  text-align: right;
  font-family: 'Fira Code', monospace;
}
