.lmc-topbar {
  display: flex;
  align-items: center;
}

.lmc-topbar-title {
  font-size: 1.5em;
  font-weight: normal;
}

.lmc-topbar-links {
  flex: 1;
  padding-left: 0;
  text-align: right;
}

.lmc-topbar-links-link {
  display: inline-block;
  list-style: none;
  margin-right: 1em;
}

.lmc-topbar-links-link-anchor {
  color: #0074d9;
  text-decoration: none;
}

.lmc-topbar-links-link-anchor:hover,
.lmc-topbar-links-link-anchor:focus {
  text-decoration: underline;
}

.lmc-topbar-links-link-anchor:visited {
  color: #001f3f;
}
